/* Smaller than standard 960 (devices and browsers) */
@media only screen and (max-width: 959px) {}

/* Tablet Portrait size to standard 960 (devices and browsers) */
@media only screen and (min-width: 768px) and (max-width: 959px) {

}

/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 767px) {

}

/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (min-width: 480px) and (max-width: 767px) {
  .navbar-brand{
    display: none;
  }
}
/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 479px) {

}

@media only screen and (max-width: 991px) {
  .navbar-brand{
    display: none;
  }
}
html{
  font-size: 14px;
  max-width: 100%;
  font-family: 'Open Sans', 'ariel';
}
/*Carousel*/
.jumbotron-bike{
  background-image: url("../images/jumbotron-bike.jpg");
  background-size: cover;
  height: 100%;
  width: 100%;
  text-align: center;
  color: white;
  padding-top: 11.85rem;
  padding-bottom: 11.85rem;
}
.jumbotron-beer{
  background-image: url("../images/jumbotron-beer.jpg");
  background-size: cover;
  height: 100%;
  width: 100%;
  text-align: center;
  color: white;
  padding-top: 11.85rem;
  padding-bottom: 11.85rem;
}
.jumbotron-duffel{
  background-image: url("../images/jumbotron-duffel.jpg");
  background-size: cover;
  height: 100%;
  width: 100%;
  text-align: center;
  color: white;
  padding-top: 11.85rem;
  padding-bottom: 11.85rem;
}
.jumbotron-flowers{
  background-image: url("../images/jumbotron-flowers.jpg");
  background-size: cover;
  height: 100%;
  width: 100%;
  text-align: center;
  color: white;
  padding-top: 11.85rem;
  padding-bottom: 11.85rem;
}
.jumbotron h1{
  font-family: 'Monoton';
  font-size: 7.1rem;
}
.jumbotron p{
  text-shadow:
  -1px -1px 0 #000,
  -1px -1px 0 #000,
  -1px -1px 0 #000,
  -1px -1px 0 #000;
}
